<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>微博热搜榜分析后台系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-info.css') }}">
</head>
<body>
<header class="header clear-fix">
    <h1>后台管理系统</h1>
    <div class="user-head clear-fix">
        <a href="/logout">登出</a>
        <span>|</span>
        <em>{{ username }}</em>
    </div>
</header>

<div class="main clear-fix">
    <aside class="aside">
        <p class="menu-title">菜单</p>
        <hr>
        <ul class="menu-ul">
            <li class="menu-info"><a href="/admin/infoList">信息查看</a></li>
            <li class="menu-sys-setting"><a href="/admin/sysSetting">系统设置</a></li>
            <li class="menu-user-setting"><a href="/admin/userSetting">用户设置</a></li>
            {% if username == 'admin' %}
                <li class="menu-user-manage"><a href="/admin/manageUser">用户管理</a></li>
            {% endif %}
        </ul>
    </aside>

    <article class="panel">
        <form action="/admin/downloads/" method="post">

            <h4 class="panel-title">历史数据</h4>
            <table>
                <thead>
                <tr>
                    <th><label><input id="selAll" type="checkbox" name="sel-all"></label></th>
                    <th class="column-1">ID</th>
                    <th class="column-2">爬取时间</th>
                    <th class="column-3">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for li in spiderList %}
                    <tr>
                        <td class=><label><input class="li-checkbox" type="checkbox" name="infoCheckbox"
                                                 value="{{ li.dateId }}"></label></td>
                        <td class="column-1">{{ li.dateId }}</td>
                        <td class="column-2">{{ li.crawlDate }}</td>
                        <td class="column-3">
                            <a class="rect-btn-wrap" href="/admin/download/{{ li.dateId }}">下载</a>
                            <a href="/admin/infoDetails/{{ li.dateId }}" class="rect-btn-wrap" type="button">查看</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--底部下载选择所有-->
            <input id="btn-download-many" class="circle-rect-btn-wrap panel-download-all" type="submit" value="下载所选">
        </form>
    </article>
</div>

<footer class="footer">
    网站底部
</footer>

<script src="../static/js/adminInfoList.js"></script>
</body>
</html>