<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>微博热搜历时分析系统免责声明</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/disclaimer.css') }}">
</head>
<body>
<div class="bg-wrap">
    <div class="dis-wrap">
        <h4>免责声明</h4>
        <p>
            这里是一些免责声明免责声明
            这里是一些免责声明免责声明
            这里是一些免责声明免责声明
            这里是一些免责声明免责声明
            这里是一些免责声明免责声明
            这里是一些免责声明免责声明
            这里是一些免责声明免责声明
            这里是一些免责声明免责声明
        </p>
        <a class="btn-wrap circle-rect-btn-wrap" target="_self" href="/">我已阅读并知晓</a>
    </div>
</div>
</body>
</html>